body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.app {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}
